In [2]:
import os
import pandas as pd
df = pd.DataFrame()

In [51]:
allfiles = os.listdir('C:\\Users\\LiamDeaton\\Documents\\DATAProj\\ArmsTrade\\data')
for i in range(len(allfiles)):
    allfiles[i] = 'C:\\Users\\LiamDeaton\\Documents\\DATAProj\\ArmsTrade\\data\\' + allfiles[i]
compiled_df = []
for file in allfiles:
    df = pd.read_csv(file, skiprows=9)
    df.columns = df.iloc[0]
    with open(file, "r") as f:
        country = f.readline().strip().split()[5]
    df = df.drop(index=0)
    df.insert(0, 'exporter', country)
    display(df)
    compiled_df.append(df)
final = pd.concat(compiled_df, axis=0)
final.to_csv('final.csv')

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Albania,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Albania,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Albania,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Algeria,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,"Algeria,",Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN
3,"Algeria,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Algeria,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,6,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Angola,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
2,"Angola,",Cote d'Ivoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,"Angola,",Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,"Angola,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
5,"Angola,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Angola,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Argentina,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Argentina,",Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
3,"Argentina,",Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
4,"Argentina,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
5,"Argentina,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
6,"Argentina,",Paraguay,NaN,NaN,11.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
7,"Argentina,",Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
8,"Argentina,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
9,"Argentina,",Uruguay,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
10,"Argentina,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Argentina,",Total,0.0,NaN,11.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Armenia,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,"Armenia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Armenia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Aruba,",Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
2,"Aruba,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Aruba,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Austria,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,116,NaN
2,"Austria,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,1.0,NaN,2,NaN
3,"Austria,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN
4,"Austria,",Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
5,"Austria,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN
6,"Austria,",Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
7,"Austria,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
8,"Austria,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,NaN
9,"Austria,",Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,1.0,5.0,39,NaN
10,"Austria,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
11,"Austria,",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,109,NaN
12,"Austria,",Gabon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
13,"Austria,",Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
14,"Austria,",Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
15,"Austria,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128,NaN
16,"Austria,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,NaN
17,"Austria,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,NaN
18,"Austria,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,NaN
19,"Austria,",Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
20,"Austria,",Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
21,"Austria,",Jamaica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN
22,"Austria,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
23,"Austria,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
24,"Austria,",Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.0,4.0,NaN,NaN,24,NaN
25,"Austria,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
26,"Austria,",Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN
27,"Austria,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,NaN
28,"Austria,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN
29,"Austria,",Niger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
30,"Austria,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,52,NaN
31,"Austria,",OSCE**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN
32,"Austria,",Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
33,"Austria,",Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,12.0,NaN,NaN,NaN,NaN,87,NaN
34,"Austria,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,14,NaN
35,"Austria,",Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
36,"Austria,",Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
37,"Austria,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
38,"Austria,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,52,NaN
39,"Austria,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
40,"Austria,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
41,"Austria,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
42,"Austria,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2,NaN
43,"Austria,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN
44,"Austria,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
45,"Austria,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,9,NaN
46,"Austria,",Yugoslavia,1.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
47,"Austria,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,"Austria,",Total,1.0,1.0,1.0,1.0,0.0,0.0,NaN,NaN,...,30.0,16.0,10.0,17.0,22.0,6.0,3.0,9.0,1578,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Australia,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
2,"Australia,",Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
3,"Australia,",Cambodia,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
4,"Australia,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,45.0,105.0,210,NaN
5,"Australia,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
6,"Australia,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0,240,NaN
7,"Australia,",Fiji,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,7.0,26,NaN
8,"Australia,",Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
9,"Australia,",India,17.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142,NaN
10,"Australia,",Indonesia,0.0,NaN,NaN,27.0,2.0,3.0,6.0,NaN,...,18.0,19.0,37.0,22.0,34.0,NaN,NaN,NaN,240,NaN
11,"Australia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,"Australia,",Jamaica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,3,NaN
13,"Australia,",Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,2,NaN
14,"Australia,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
15,"Australia,",Kiribati,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
16,"Australia,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN
17,"Australia,",Laos,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
18,"Australia,",Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
19,"Australia,",Malaysia,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
20,"Australia,",Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
21,"Australia,",Micronesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
22,"Australia,",Nepal,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
23,"Australia,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,22,NaN
24,"Australia,",New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,7.0,NaN,NaN,1.0,NaN,NaN,158,NaN
25,"Australia,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,40,NaN
26,"Australia,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216,NaN
27,"Australia,",Palau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,13,NaN
28,"Australia,",Papua New Guinea,NaN,NaN,NaN,NaN,NaN,32.0,NaN,3.0,...,NaN,3.0,NaN,NaN,NaN,7.0,NaN,NaN,83,NaN
29,"Australia,",Philippines,NaN,NaN,NaN,NaN,NaN,6.0,11.0,NaN,...,NaN,NaN,6.0,10.0,NaN,NaN,NaN,NaN,36,NaN
30,"Australia,",Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,13,NaN
31,"Australia,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
32,"Australia,",Solomon Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,19,NaN
33,"Australia,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
34,"Australia,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
35,"Australia,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,NaN
36,"Australia,",Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,7.0,7.0,37,NaN
37,"Australia,",Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
38,"Australia,",Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,13,NaN
39,"Australia,",United Kingdom,NaN,NaN,NaN,45.0,90.0,90.0,90.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,411,NaN
40,"Australia,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,60.0,30.0,60.0,60.0,30.0,30.0,30.0,726,NaN
41,"Australia,",Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
42,"Australia,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
43,"Australia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Australia,",Total,17.0,36.0,6.0,72.0,92.0,131.0,113.0,62.0,...,54.0,97.0,87.0,134.0,98.0,38.0,103.0,396.0,3003,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Bahrain,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Bahrain,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bahrain,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Bangladesh,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Bangladesh,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bangladesh,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Bahamas,",Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Bahamas,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bahamas,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Belgium,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Belgium,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Belgium,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,21,NaN
4,"Belgium,",Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
5,"Belgium,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
6,"Belgium,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,NaN
7,"Belgium,",Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,314,NaN
8,"Belgium,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
9,"Belgium,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224,NaN
10,"Belgium,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
11,"Belgium,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
12,"Belgium,",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,84,NaN
13,"Belgium,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,1.0,5.0,4.0,17.0,16.0,2.0,3.0,61,NaN
14,"Belgium,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,349,NaN
15,"Belgium,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
16,"Belgium,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
17,"Belgium,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN
18,"Belgium,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,NaN
19,"Belgium,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN
20,"Belgium,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN
21,"Belgium,",NATO**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN
22,"Belgium,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
23,"Belgium,",Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
24,"Belgium,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,11,NaN
25,"Belgium,",Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
26,"Belgium,",Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
27,"Belgium,",Rwanda,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
28,"Belgium,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,10.0,NaN,NaN,NaN,NaN,50.0,50.0,257,NaN
29,"Belgium,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
30,"Belgium,",Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,NaN
31,"Belgium,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
32,"Belgium,",United Nations**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
33,"Belgium,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
34,"Belgium,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
35,"Belgium,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Belgium,",Total,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,55.0,10.0,12.0,7.0,17.0,21.0,53.0,53.0,2009,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Belarus,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,14,NaN
2,"Belarus,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,313,NaN
3,"Belarus,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,4.0,16.0,12.0,NaN,NaN,272,NaN
4,"Belarus,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,"Belarus,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,33.0,NaN,NaN,10.0,37.0,NaN,NaN,333,NaN
6,"Belarus,",China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170,NaN
7,"Belarus,",Cote d'Ivoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,46,NaN
8,"Belarus,",Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
9,"Belarus,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
10,"Belarus,",Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
11,"Belarus,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
12,"Belarus,",Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN
13,"Belarus,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN
14,"Belarus,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,28.0,NaN,NaN,NaN,NaN,41,NaN
15,"Belarus,",Libya HoR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,14,NaN
16,"Belarus,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172,NaN
17,"Belarus,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,51.0,NaN,NaN,7.0,NaN,64,NaN
18,"Belarus,",Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
19,"Belarus,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
20,"Belarus,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
21,"Belarus,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310,NaN
22,"Belarus,",Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
23,"Belarus,",Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75.0,NaN,75,NaN
24,"Belarus,",Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
25,"Belarus,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,8.0,39.0,39.0,0.0,1.0,18.0,NaN,317,NaN
26,"Belarus,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196,NaN
27,"Belarus,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,4,NaN
28,"Belarus,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,22.0,NaN,53,NaN
29,"Belarus,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,60.0,60.0,30.0,23.0,23.0,23.0,23.0,240,NaN
30,"Belarus,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237,NaN
31,"Belarus,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Belarus,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,269.0,101.0,142.0,152.0,50.0,79.0,159.0,23.0,3174,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Bosnia-Herzegovina,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
2,"Bosnia-Herzegovina,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
3,"Bosnia-Herzegovina,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bosnia-Herzegovina,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Brazil,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,88.0,NaN,26.0,NaN,NaN,114,NaN
2,"Brazil,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN
3,"Brazil,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80,NaN
4,"Brazil,",Bolivia,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
5,"Brazil,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
6,"Brazil,",Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Brazil,",Chile,NaN,NaN,NaN,NaN,29.0,3.0,47.0,NaN,...,NaN,NaN,NaN,NaN,NaN,26.0,NaN,18.0,209,NaN
8,"Brazil,",Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245,NaN
9,"Brazil,",Comoros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
10,"Brazil,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,NaN
11,"Brazil,",Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN
12,"Brazil,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,NaN
13,"Brazil,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,NaN
14,"Brazil,",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,305,NaN
15,"Brazil,",Gabon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
16,"Brazil,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
17,"Brazil,",Guyana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,8,NaN
18,"Brazil,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
19,"Brazil,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,10.0,NaN,21,NaN
20,"Brazil,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.0,46.0,18.0,NaN,NaN,NaN,26.0,130,NaN
21,"Brazil,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
22,"Brazil,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,595,NaN
23,"Brazil,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
24,"Brazil,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,18.0,NaN,NaN,32,NaN
25,"Brazil,",Libya,NaN,NaN,NaN,NaN,NaN,36.0,36.0,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398,NaN
26,"Brazil,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
27,"Brazil,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,18,NaN
28,"Brazil,",Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
29,"Brazil,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
30,"Brazil,",Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
31,"Brazil,",Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN
32,"Brazil,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,NaN
33,"Brazil,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,6.0,5.0,5.0,NaN,NaN,NaN,25,NaN
34,"Brazil,",Paraguay,NaN,0.0,NaN,NaN,NaN,19.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN
35,"Brazil,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN
36,"Brazil,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,26,NaN
37,"Brazil,",Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
38,"Brazil,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,83,NaN
39,"Brazil,",South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
40,"Brazil,",Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
41,"Brazil,",Togo,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
42,"Brazil,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
43,"Brazil,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9,NaN
44,"Brazil,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
45,"Brazil,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,5.0,NaN,NaN,259,NaN
46,"Brazil,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
47,"Brazil,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,43,NaN
48,"Brazil,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
49,"Brazil,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN
50,"Brazil,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,"Brazil,",Total,NaN,0.0,NaN,NaN,32.0,58.0,103.0,144.0,...,31.0,31.0,52.0,122.0,37.0,100.0,10.0,170.0,3797,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Brunei,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
2,"Brunei,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,12,NaN
3,"Brunei,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Brunei,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,36,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Bulgaria,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,9.0,NaN,6.0,NaN,6.0,NaN,75,NaN
2,"Bulgaria,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,"Bulgaria,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
4,"Bulgaria,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,3.0,NaN,7,NaN
5,"Bulgaria,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118,NaN
6,"Bulgaria,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
7,"Bulgaria,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
8,"Bulgaria,",Cote d'Ivoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,7.0,NaN,NaN,41,NaN
9,"Bulgaria,",Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,"Bulgaria,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2,NaN
11,"Bulgaria,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,"Bulgaria,",Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90,NaN
13,"Bulgaria,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
14,"Bulgaria,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN
15,"Bulgaria,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN
16,"Bulgaria,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,49.0,60.0,0.0,NaN,NaN,NaN,112,NaN
17,"Bulgaria,",Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
18,"Bulgaria,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,NaN
19,"Bulgaria,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
20,"Bulgaria,",Nicaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
21,"Bulgaria,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2,NaN
22,"Bulgaria,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN
23,"Bulgaria,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN
24,"Bulgaria,",Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN
25,"Bulgaria,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,1.0,15.0,NaN,NaN,NaN,24,NaN
26,"Bulgaria,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN
27,"Bulgaria,",Southern rebels (Yemen)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN
28,"Bulgaria,",Soviet Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
29,"Bulgaria,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
30,"Bulgaria,",Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
31,"Bulgaria,",Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
32,"Bulgaria,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
33,"Bulgaria,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,NaN,4.0,NaN,NaN,24,NaN
34,"Bulgaria,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
35,"Bulgaria,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
36,"Bulgaria,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
37,"Bulgaria,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"Bulgaria,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,14.0,70.0,61.0,31.0,14.0,10.0,NaN,964,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Canada,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,3.0,NaN,NaN,13,NaN
2,"Canada,",African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
3,"Canada,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
4,"Canada,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,27,NaN
5,"Canada,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,2.0,2.0,NaN,31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Canada,",Venezuela,NaN,NaN,58.0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN
103,"Canada,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,16.0,4.0,NaN,NaN,NaN,NaN,NaN,27,NaN
104,"Canada,",Zambia,NaN,4.0,NaN,NaN,NaN,NaN,93.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN
105,"Canada,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,"Canada,",Total,194.0,291.0,324.0,125.0,119.0,129.0,309.0,160.0,...,183.0,189.0,337.0,110.0,70.0,115.0,211.0,200.0,9206,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Chad,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
2,"Chad,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Chad,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Chile,",Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Chile,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101,NaN
3,"Chile,",El Salvador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN
4,"Chile,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,"Chile,",Mauritius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN
6,"Chile,",Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Chile,",Paraguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
8,"Chile,",Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
9,"Chile,",Uruguay,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,8,NaN
10,"Chile,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Chile,",Total,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,0.0,NaN,NaN,181,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"China,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,NaN
2,"China,",Albania,250.0,332.0,134.0,104.0,134.0,53.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1048,NaN
3,"China,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,68.0,245.0,496.0,17.0,57.0,24.0,3.0,1158,NaN
4,"China,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,15.0,NaN,NaN,15.0,42.0,72,NaN
5,"China,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"China,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,NaN
94,"China,",Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,...,NaN,NaN,NaN,33.0,33.0,NaN,NaN,1.0,258,NaN
95,"China,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,NaN
96,"China,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,"China,",Total,893.0,1293.0,1238.0,662.0,511.0,668.0,586.0,230.0,...,2067.0,1212.0,1780.0,2410.0,1438.0,1169.0,1472.0,760.0,52885,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Cambodia,",LTTE (Sri Lanka)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Cambodia,",MTA (Myanmar)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,"Cambodia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Cambodia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Colombia,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,10,NaN
2,"Colombia,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10,NaN
3,"Colombia,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
4,"Colombia,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4,NaN
5,"Colombia,",Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
6,"Colombia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Colombia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,10.0,4.0,30,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Costa,Guyana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,Costa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Costa,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Croatia,",Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3,NaN
2,"Croatia,",Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,"Croatia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Croatia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,5,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Cuba,",Angola,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Cuba,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
3,"Cuba,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Cuba,",Total,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Cyprus,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
2,"Cyprus,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Cyprus,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Czechoslovakia,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,NaN
2,"Czechoslovakia,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133,NaN
3,"Czechoslovakia,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
4,"Czechoslovakia,",Bulgaria,13.0,22.0,8.0,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,210,NaN
5,"Czechoslovakia,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
6,"Czechoslovakia,",Cuba,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN
7,"Czechoslovakia,",East Germany (GDR),3.0,NaN,NaN,NaN,2.0,NaN,NaN,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373,NaN
8,"Czechoslovakia,",Egypt,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
9,"Czechoslovakia,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,NaN
10,"Czechoslovakia,",Hungary,NaN,NaN,NaN,45.0,102.0,90.0,90.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,465,NaN
11,"Czechoslovakia,",India,20.0,43.0,43.0,23.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151,NaN
12,"Czechoslovakia,",Iraq,NaN,NaN,NaN,NaN,NaN,77.0,112.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373,NaN
13,"Czechoslovakia,",Libya,13.0,33.0,20.0,20.0,15.0,NaN,6.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,981,NaN
14,"Czechoslovakia,",Morocco,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
15,"Czechoslovakia,",Nigeria,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,NaN
16,"Czechoslovakia,",Poland,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142,NaN
17,"Czechoslovakia,",Romania,6.0,6.0,6.0,6.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157,NaN
18,"Czechoslovakia,",Soviet Union,225.0,225.0,495.0,470.0,663.0,480.0,526.0,557.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13940,NaN
19,"Czechoslovakia,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
20,"Czechoslovakia,",Sudan,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
21,"Czechoslovakia,",Syria,10.0,10.0,10.0,29.0,NaN,NaN,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1042,NaN
22,"Czechoslovakia,",Viet Nam,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,NaN
23,"Czechoslovakia,",Yugoslavia,65.0,65.0,65.0,65.0,65.0,65.0,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,451,NaN
24,"Czechoslovakia,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN
25,"Czechoslovakia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Czechoslovakia,",Total,435.0,420.0,648.0,667.0,874.0,712.0,802.0,813.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19039,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Czechia,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
2,"Czechia,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109,NaN
3,"Czechia,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
4,"Czechia,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,9,NaN
5,"Czechia,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,40,NaN
6,"Czechia,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,NaN
7,"Czechia,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,2,NaN
8,"Czechia,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN
9,"Czechia,",Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
10,"Czechia,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
11,"Czechia,",Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN
12,"Czechia,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,320,NaN
13,"Czechia,",Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
14,"Czechia,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
15,"Czechia,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
16,"Czechia,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144,NaN
17,"Czechia,",Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
18,"Czechia,",Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1,NaN
19,"Czechia,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,12.0,NaN,19,NaN
20,"Czechia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,86.0,78.0,16.0,10.0,NaN,NaN,195,NaN
21,"Czechia,",Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
22,"Czechia,",Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
23,"Czechia,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
24,"Czechia,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,3,NaN
25,"Czechia,",NATO**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,12.0,NaN,NaN,NaN,24,NaN
26,"Czechia,",Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
27,"Czechia,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,27.0,NaN,NaN,NaN,NaN,NaN,30,NaN
28,"Czechia,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
29,"Czechia,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
30,"Czechia,",Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN
31,"Czechia,",Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,13.0,15.0,15.0,NaN,NaN,NaN,70,NaN
32,"Czechia,",Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
33,"Czechia,",Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
34,"Czechia,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
35,"Czechia,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160,NaN
36,"Czechia,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,NaN
37,"Czechia,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN
38,"Czechia,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,13.0,5.0,23,NaN
39,"Czechia,",Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,6.0,NaN,50,NaN
40,"Czechia,",United Nations**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
41,"Czechia,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,12.0,40.0,28.0,NaN,NaN,84,NaN
42,"Czechia,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
43,"Czechia,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,12.0,24.0,NaN,NaN,NaN,NaN,94,NaN
44,"Czechia,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125,NaN
45,"Czechia,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
46,"Czechia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"Czechia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,26.0,150.0,148.0,88.0,89.0,31.0,6.0,1976,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Denmark,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,10,NaN
2,"Denmark,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
3,"Denmark,",Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
4,"Denmark,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,"Denmark,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
6,"Denmark,",Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,7,NaN
7,"Denmark,",Equatorial Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
8,"Denmark,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN
9,"Denmark,",Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN,15,NaN
10,"Denmark,",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,2.0,2.0,2.0,2.0,NaN,22,NaN
11,"Denmark,",Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
12,"Denmark,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,37,NaN
13,"Denmark,",Iceland,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
14,"Denmark,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,2.0,NaN,14,NaN
15,"Denmark,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105,NaN
16,"Denmark,",Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2,NaN
17,"Denmark,",Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,42,NaN
18,"Denmark,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,9.0,NaN,NaN,18,NaN
19,"Denmark,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,19,NaN
20,"Denmark,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN
21,"Denmark,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN
22,"Denmark,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
23,"Denmark,",New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
24,"Denmark,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,10,NaN
25,"Denmark,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2,NaN
26,"Denmark,",Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,8.0,8.0,16.0,NaN,NaN,33,NaN
27,"Denmark,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
28,"Denmark,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
29,"Denmark,",Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
30,"Denmark,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
31,"Denmark,",Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
32,"Denmark,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
33,"Denmark,",Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,NaN
34,"Denmark,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,6,NaN
35,"Denmark,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
36,"Denmark,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429,NaN
37,"Denmark,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"Denmark,",Total,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,...,11.0,17.0,25.0,25.0,22.0,31.0,4.0,NaN,1243,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Dominican,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,NaN
2,Dominican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dominican,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,DR,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
2,DR,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,DR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DR,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Ecuador,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,2.0,NaN,NaN,8,NaN
2,"Ecuador,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Ecuador,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,2.0,NaN,NaN,8,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Egypt,",African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2,NaN
2,"Egypt,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,NaN
3,"Egypt,",Bangladesh,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
4,"Egypt,",Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
5,"Egypt,",Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
6,"Egypt,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Egypt,",Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
8,"Egypt,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
9,"Egypt,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,349,NaN
10,"Egypt,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
11,"Egypt,",Libya,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
12,"Egypt,",Libya HoR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,21.0,NaN,NaN,NaN,NaN,NaN,29,NaN
13,"Egypt,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
14,"Egypt,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
15,"Egypt,",Mujahedin (Afghanistan)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
16,"Egypt,",Nigeria,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
17,"Egypt,",North Yemen,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
18,"Egypt,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
19,"Egypt,",Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
20,"Egypt,",Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
21,"Egypt,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,NaN
22,"Egypt,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,NaN
23,"Egypt,",Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
24,"Egypt,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124,NaN
25,"Egypt,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Egypt,",Total,39.0,NaN,NaN,NaN,NaN,16.0,NaN,67.0,...,NaN,7.0,21.0,NaN,NaN,NaN,2.0,NaN,840,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Eritrea,",SNA (Somalia)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Eritrea,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,"Eritrea,",UIC (Somalia)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,"Eritrea,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Eritrea,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Estonia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Estonia,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
3,"Estonia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Estonia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Ethiopia,",Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
2,"Ethiopia,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN
3,"Ethiopia,",South Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
4,"Ethiopia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Ethiopia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,European,Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN
2,European,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,European,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Finland,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,"Finland,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
3,"Finland,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
4,"Finland,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,16,NaN
5,"Finland,",Colombia,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,20,NaN
6,"Finland,",Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,NaN
7,"Finland,",Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
8,"Finland,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,102,NaN
9,"Finland,",Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
10,"Finland,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
11,"Finland,",France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
12,"Finland,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
13,"Finland,",Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
14,"Finland,",Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,4.0,4.0,NaN,4.0,NaN,NaN,25,NaN
15,"Finland,",Israel,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
16,"Finland,",Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
17,"Finland,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
18,"Finland,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
19,"Finland,",NATO**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
20,"Finland,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,NaN
21,"Finland,",New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
22,"Finland,",Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,37,NaN
23,"Finland,",Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0,51.0,15.0,16.0,16.0,16.0,16.0,12.0,532,NaN
24,"Finland,",Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,16,NaN
25,"Finland,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,22,NaN
26,"Finland,",Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
27,"Finland,",Soviet Union,30.0,30.0,30.0,NaN,63.0,63.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360,NaN
28,"Finland,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN
29,"Finland,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,1.0,13.0,NaN,NaN,NaN,NaN,22,NaN
30,"Finland,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,14.0,7.0,NaN,28,NaN
31,"Finland,",United Nations**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
32,"Finland,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Finland,",Total,32.0,39.0,30.0,NaN,63.0,63.0,NaN,NaN,...,70.0,98.0,27.0,51.0,31.0,45.0,27.0,12.0,1687,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Fiji,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
2,"Fiji,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Fiji,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"France,",Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN
2,"France,",Algeria,14.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.0,NaN,NaN,52.0,13.0,286,NaN
3,"France,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,68,NaN
4,"France,",Argentina,42.0,17.0,73.0,107.0,5.0,9.0,15.0,19.0,...,NaN,NaN,4.0,8.0,NaN,NaN,35.0,NaN,1314,NaN
5,"France,",Australia,NaN,NaN,NaN,48.0,24.0,NaN,NaN,NaN,...,64.0,78.0,98.0,84.0,51.0,17.0,10.0,NaN,1276,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,"France,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
133,"France,",Yugoslavia,NaN,NaN,17.0,2.0,6.0,13.0,14.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237,NaN
134,"France,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
135,"France,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,"France,",Total,1670.0,2241.0,2540.0,2845.0,2103.0,2203.0,2020.0,2694.0,...,1493.0,1656.0,2043.0,2088.0,2359.0,1784.0,3269.0,1995.0,110567,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Germany,",Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,11,NaN
2,"Germany,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,13.0,10.0,555.0,33.0,48.0,48.0,48.0,774,NaN
3,"Germany,",Argentina,3.0,3.0,NaN,2.0,358.0,NaN,5.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3240,NaN
4,"Germany,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,53.0,66.0,...,NaN,7.0,9.0,20.0,11.0,27.0,29.0,27.0,2509,NaN
5,"Germany,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,5.0,4.0,6.0,NaN,858,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,"Germany,",Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN
114,"Germany,",Zambia,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
115,"Germany,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
116,"Germany,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,"Germany,",Total,1561.0,1364.0,1377.0,227.0,1208.0,1446.0,1662.0,1893.0,...,791.0,1790.0,1763.0,2506.0,1944.0,1070.0,978.0,1232.0,84417,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Gabon,",Benin,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Gabon,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Gabon,",Total,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,East,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
2,East,Guinea-Bissau,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
3,East,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
4,East,Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
5,East,Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
6,East,PLO (Israel)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,East,Soviet Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,462,NaN
8,East,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
9,East,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
10,East,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,East,Total,NaN,NaN,NaN,NaN,11.0,NaN,12.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,677,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Georgia,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
2,"Georgia,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115,NaN
3,"Georgia,",Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
4,"Georgia,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,7.0,NaN,NaN,NaN,13,NaN
5,"Georgia,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
6,"Georgia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Georgia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,7.0,NaN,NaN,NaN,213,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Ghana,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
2,"Ghana,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
3,"Ghana,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Ghana,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Greece,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,30,NaN
2,"Greece,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90,NaN
3,"Greece,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17,NaN
4,"Greece,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN
5,"Greece,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
6,"Greece,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Greece,",Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
8,"Greece,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Greece,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.0,NaN,NaN,17.0,219,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Guyana,",Soviet Union,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Guyana,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Guyana,",Total,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Hungary,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN
2,"Hungary,",Czechoslovakia,NaN,NaN,8.0,8.0,8.0,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
3,"Hungary,",East Germany (GDR),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
4,"Hungary,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN
5,"Hungary,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121,NaN
6,"Hungary,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
7,"Hungary,",PLO (Israel)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
8,"Hungary,",Syria,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
9,"Hungary,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Hungary,",Total,NaN,NaN,8.0,44.0,8.0,8.0,NaN,NaN,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Iceland,",Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Iceland,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
3,"Iceland,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Iceland,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"India,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.0,3.0,NaN,NaN,NaN,NaN,15,NaN
2,"India,",Bangladesh,NaN,7.0,2.0,3.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
3,"India,",Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,"India,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
5,"India,",Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
6,"India,",Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,28,NaN
7,"India,",Mauritius,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,24.0,NaN,23.0,19.0,NaN,NaN,NaN,81,NaN
8,"India,",Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,15,NaN
9,"India,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,27.0,12.0,NaN,NaN,3.0,148.0,217,NaN
10,"India,",Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
11,"India,",Nepal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN
12,"India,",Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,6.0,NaN,8.0,NaN,7.0,NaN,NaN,42,NaN
13,"India,",Singapore,NaN,NaN,NaN,18.0,18.0,31.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,NaN
14,"India,",South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
15,"India,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.0,37.0,NaN,NaN,133,NaN
16,"India,",Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,3,NaN
17,"India,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"India,",Total,NaN,7.0,2.0,21.0,24.0,31.0,NaN,NaN,...,15.0,36.0,42.0,46.0,56.0,44.0,18.0,151.0,745,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Indonesia,",Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
2,"Indonesia,",Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
3,"Indonesia,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN
4,"Indonesia,",Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,9,NaN
5,"Indonesia,",Pakistan,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
6,"Indonesia,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,86.0,86.0,8.0,NaN,NaN,180,NaN
7,"Indonesia,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,13,NaN
8,"Indonesia,",South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN
9,"Indonesia,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
10,"Indonesia,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
11,"Indonesia,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,NaN
12,"Indonesia,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,8,NaN
13,"Indonesia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Indonesia,",Total,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,86.0,95.0,15.0,9.0,NaN,483,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Iran,",Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Iran,",Ethiopia,4.0,6.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
3,"Iran,",Greece,NaN,NaN,NaN,NaN,NaN,32.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
4,"Iran,",Hezbollah (Lebanon)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
5,"Iran,",Houthi rebels (Yemen)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,20,NaN
6,"Iran,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.0,9.0,NaN,NaN,NaN,NaN,NaN,42,NaN
7,"Iran,",Jordan,NaN,NaN,NaN,NaN,77.0,45.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122,NaN
8,"Iran,",Morocco,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
9,"Iran,",Oman,NaN,NaN,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
10,"Iran,",Pakistan,NaN,NaN,NaN,NaN,52.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN
11,"Iran,",South Vietnam,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96,NaN
12,"Iran,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN
13,"Iran,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,15.0,6.0,5.0,NaN,NaN,NaN,NaN,321,NaN
14,"Iran,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
15,"Iran,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
16,"Iran,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Iran,",Total,23.0,6.0,106.0,6.0,129.0,81.0,NaN,NaN,...,12.0,47.0,15.0,5.0,20.0,NaN,NaN,NaN,787,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Ireland,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,221,NaN
2,"Ireland,",Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
3,"Ireland,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
4,"Ireland,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,"Ireland,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Ireland,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,249,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Iraq,",Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Iraq,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142,NaN
3,"Iraq,",LF (Lebanon)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN
4,"Iraq,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Iraq,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Israel,",African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN
2,"Israel,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,33,NaN
3,"Israel,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298,NaN
4,"Israel,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192,NaN
5,"Israel,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,"Israel,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,14.0,7.0,134.0,171.0,171.0,NaN,NaN,541,NaN
93,"Israel,",Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,NaN
94,"Israel,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
95,"Israel,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"Israel,",Total,13.0,21.0,31.0,12.0,45.0,109.0,54.0,202.0,...,419.0,399.0,790.0,1464.0,1268.0,704.0,363.0,345.0,18068,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Italy,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158,NaN
2,"Italy,",Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,10,NaN
3,"Italy,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,...,48.0,190.0,30.0,39.0,48.0,NaN,NaN,48.0,481,NaN
4,"Italy,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.0,12.0,NaN,NaN,30,NaN
5,"Italy,",Argentina,5.0,19.0,19.0,NaN,5.0,NaN,6.0,47.0,...,NaN,NaN,NaN,2.0,1.0,4.0,NaN,NaN,532,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"Italy,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN
112,"Italy,",Zambia,4.0,19.0,20.0,16.0,NaN,NaN,14.0,1.0,...,NaN,NaN,NaN,3.0,NaN,NaN,32.0,NaN,143,NaN
113,"Italy,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,NaN
114,"Italy,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,"Italy,",Total,280.0,395.0,296.0,330.0,421.0,512.0,523.0,502.0,...,861.0,672.0,676.0,618.0,791.0,535.0,321.0,806.0,30196,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Cote,Benin,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,Cote,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN
3,Cote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cote,Total,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Japan,",China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
2,"Japan,",Dominican Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,"Japan,",Gabon,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
4,"Japan,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
5,"Japan,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125,NaN
6,"Japan,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
7,"Japan,",Philippines,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,45,NaN
8,"Japan,",Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,NaN
9,"Japan,",Sweden,NaN,NaN,8.0,34.0,25.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,NaN
10,"Japan,",Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92,NaN
11,"Japan,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,NaN
12,"Japan,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,688,NaN
13,"Japan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Japan,",Total,NaN,15.0,8.0,34.0,53.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,1282,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Jordan,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,21,NaN
2,"Jordan,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Jordan,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
4,"Jordan,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,NaN,76,NaN
5,"Jordan,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116,NaN
6,"Jordan,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
7,"Jordan,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,NaN
8,"Jordan,",Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,113,NaN
9,"Jordan,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,92,NaN
10,"Jordan,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
11,"Jordan,",Libya HoR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,3,NaN
12,"Jordan,",New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
13,"Jordan,",Oman,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
14,"Jordan,",Pakistan,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,114.0,7.0,NaN,NaN,NaN,NaN,NaN,182,NaN
15,"Jordan,",Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2,NaN
16,"Jordan,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,12,NaN
17,"Jordan,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
18,"Jordan,",South Africa,NaN,NaN,NaN,22.0,23.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
19,"Jordan,",Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
20,"Jordan,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17.0,71.0,NaN,NaN,13.0,137,NaN
21,"Jordan,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
22,"Jordan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Jordan,",Total,NaN,36.0,NaN,22.0,23.0,50.0,NaN,18.0,...,33.0,114.0,16.0,17.0,80.0,1.0,107.0,13.0,1010,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Kazakhstan,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
2,"Kazakhstan,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Kazakhstan,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
4,"Kazakhstan,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
5,"Kazakhstan,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
6,"Kazakhstan,",Kyrgyzstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
7,"Kazakhstan,",Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
8,"Kazakhstan,",North Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177,NaN
9,"Kazakhstan,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
10,"Kazakhstan,",Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
11,"Kazakhstan,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
12,"Kazakhstan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Kazakhstan,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,261,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Kenya,",Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,"Kenya,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
3,"Kenya,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Kenya,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,North,DR Congo,NaN,NaN,NaN,NaN,8.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
2,North,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN
3,North,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
4,North,Guyana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
5,North,Hamas (Palestine)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
6,North,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1527,NaN
7,North,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
8,North,Madagascar,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN
9,North,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
10,North,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
11,North,PRC (Israel/Palestine)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,North,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,515,NaN
13,North,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
14,North,UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,NaN
15,North,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
16,North,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
17,North,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
18,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,North,Total,NaN,NaN,NaN,NaN,8.0,12.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2409,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,South,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
2,South,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,214,NaN
3,South,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
4,South,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,38.0,NaN,NaN,NaN,NaN,60.0,128,NaN
5,South,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12,NaN
6,South,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,60,NaN
7,South,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9,NaN
8,South,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,9.0,9.0,13.0,31,NaN
9,South,Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
10,South,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26.0,190.0,216.0,684,NaN
11,South,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,184.0,123.0,6.0,NaN,150.0,150.0,86.0,6.0,1618,NaN
12,South,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
13,South,Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,320.0,107.0,NaN,NaN,1.0,431,NaN
14,South,Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
15,South,Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
16,South,Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
17,South,Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.0,37.0,NaN,NaN,162,NaN
18,South,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,90,NaN
19,South,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0,144,NaN
20,South,Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN
21,South,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,113.0,9.0,98.0,220,NaN
22,South,Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.0,11.0,107.0,44.0,86.0,NaN,NaN,272,NaN
23,South,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.0,36.0,132.0,NaN,73.0,209.0,578,NaN
24,South,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,11.0,15.0,9.0,26.0,26.0,86,NaN
25,South,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
26,South,Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,8,NaN
27,South,South Vietnam,NaN,NaN,141.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141,NaN
28,South,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,292.0,71.0,71.0,434,NaN
29,South,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
30,South,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,165.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,1412,NaN
31,South,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,133.0,266.0,133.0,NaN,532,NaN
32,South,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN
33,South,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
34,South,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,NaN
35,South,Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,60.0,60.0,NaN,NaN,120,NaN
36,South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,South,Total,NaN,NaN,141.0,NaN,NaN,NaN,NaN,NaN,...,349.0,207.0,94.0,480.0,742.0,1056.0,693.0,827.0,7739,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Kuwait,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95,NaN
2,"Kuwait,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,"Kuwait,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
4,"Kuwait,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
5,"Kuwait,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN
6,"Kuwait,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Kuwait,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Kyrgyzstan,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
2,"Kyrgyzstan,",Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
3,"Kyrgyzstan,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,5.0,5.0,NaN,NaN,NaN,180,NaN
4,"Kyrgyzstan,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
5,"Kyrgyzstan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Kyrgyzstan,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,5.0,5.0,NaN,NaN,NaN,214,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Latvia,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
2,"Latvia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Latvia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Lebanon,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
2,"Lebanon,",Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Lebanon,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Lebanon,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Lithuania,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,60,NaN
2,"Lithuania,",Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,"Lithuania,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Lithuania,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,63,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Luxembourg,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Luxembourg,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Luxembourg,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Libya,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
2,"Libya,",Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,"Libya,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
4,"Libya,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
5,"Libya,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
6,"Libya,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN
7,"Libya,",GUNT (Chad)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
8,"Libya,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225,NaN
9,"Libya,",Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
10,"Libya,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
11,"Libya,",Malta,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
12,"Libya,",MNLF (Philippines)*,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
13,"Libya,",Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
14,"Libya,",Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
15,"Libya,",Nicaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
16,"Libya,",Niger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
17,"Libya,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,270,NaN
18,"Libya,",Provisional IRA (UK)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
19,"Libya,",Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
20,"Libya,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
21,"Libya,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
22,"Libya,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,531,NaN
23,"Libya,",Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
24,"Libya,",Turkey,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
25,"Libya,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,NaN
26,"Libya,",Uganda,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
27,"Libya,",Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
28,"Libya,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
29,"Libya,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Libya,",Total,NaN,NaN,0.0,0.0,NaN,26.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1414,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Libya,Darfur rebels (Sudan)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,1,NaN
2,Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Libya,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Malaysia,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
2,"Malaysia,",Indonesia,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
3,"Malaysia,",Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,"Malaysia,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
5,"Malaysia,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
6,"Malaysia,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Malaysia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Malaysia,",Total,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Mexico,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN
2,"Mexico,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Mexico,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Moldova,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200,NaN
2,"Moldova,",Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,"Moldova,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
4,"Moldova,",Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
5,"Moldova,",Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
6,"Moldova,",Southern rebels (Yemen)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
7,"Moldova,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
8,"Moldova,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217,NaN
9,"Moldova,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Moldova,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,487,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Morocco,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,"Morocco,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Morocco,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Mozambique,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Mozambique,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Mozambique,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Malta,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
2,"Malta,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5,NaN
3,"Malta,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Malta,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,15,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Montenegro,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Montenegro,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN
3,"Montenegro,",Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0,NaN
4,"Montenegro,",Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
5,"Montenegro,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Montenegro,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,198,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Malawi,",Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Malawi,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Malawi,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Netherlands,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,51.0,13.0,...,NaN,NaN,13.0,25.0,NaN,NaN,NaN,NaN,122,NaN
2,"Netherlands,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
3,"Netherlands,",Argentina,NaN,17.0,NaN,NaN,12.0,93.0,NaN,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,385,NaN
4,"Netherlands,",Australia,NaN,19.0,NaN,19.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
5,"Netherlands,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,"Netherlands,",United States,NaN,NaN,NaN,NaN,NaN,NaN,6.0,12.0,...,62.0,46.0,62.0,77.0,92.0,77.0,77.0,77.0,1146,NaN
79,"Netherlands,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
80,"Netherlands,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,NaN,NaN,NaN,NaN,13.0,362,NaN
81,"Netherlands,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,"Netherlands,",Total,5.0,161.0,133.0,205.0,83.0,147.0,293.0,446.0,...,374.0,631.0,461.0,471.0,1050.0,448.0,238.0,488.0,23119,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Nicaragua,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Nicaragua,",Costa Rica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
3,"Nicaragua,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
4,"Nicaragua,",FMLN (El Salvador)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
5,"Nicaragua,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,NaN
6,"Nicaragua,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Nicaragua,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Nigeria,",Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
2,"Nigeria,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Nigeria,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Niger,",Mauritania,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,"Niger,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Niger,",Total,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Norway,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Norway,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92,NaN
3,"Norway,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,"Norway,",Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
5,"Norway,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,21,NaN
6,"Norway,",Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2,NaN
7,"Norway,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.0,19.0,NaN,NaN,NaN,72,NaN
8,"Norway,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,40.0,NaN,NaN,NaN,NaN,NaN,60,NaN
9,"Norway,",Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
10,"Norway,",Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
11,"Norway,",Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,NaN
12,"Norway,",Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
13,"Norway,",Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,82.0,80.0,NaN,NaN,NaN,NaN,NaN,265,NaN
14,"Norway,",France,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
15,"Norway,",Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119,NaN
16,"Norway,",Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
17,"Norway,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20,NaN
18,"Norway,",Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,7,NaN
19,"Norway,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2,NaN
20,"Norway,",Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
21,"Norway,",Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,66,NaN
22,"Norway,",Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
23,"Norway,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,3.0,3.0,1.0,NaN,NaN,48,NaN
24,"Norway,",New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5,NaN
25,"Norway,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
26,"Norway,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.0,100.0,NaN,NaN,NaN,200,NaN
27,"Norway,",Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.0,10.0,19.0,5.0,12.0,13.0,13.0,12.0,239,NaN
28,"Norway,",Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
29,"Norway,",Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
30,"Norway,",Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
31,"Norway,",Spain,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125,NaN
32,"Norway,",Sweden,NaN,NaN,31.0,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,3.0,5.0,4.0,NaN,NaN,3.0,748,NaN
33,"Norway,",Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,2.0,3.0,3.0,NaN,NaN,NaN,216,NaN
34,"Norway,",Turkey,NaN,NaN,NaN,NaN,NaN,8.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237,NaN
35,"Norway,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,78,NaN
36,"Norway,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,50.0,50.0,NaN,7.0,45.0,15.0,5.0,912,NaN
37,"Norway,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"Norway,",Total,NaN,4.0,31.0,10.0,NaN,8.0,8.0,8.0,...,173.0,163.0,210.0,122.0,146.0,59.0,31.0,72.0,3773,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,New,Australia,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN
2,New,Indonesia,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,New,North Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
4,New,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
5,New,Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,NaN
6,New,Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,6.0,NaN,NaN,12,NaN
7,New,Singapore,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
8,New,Thailand,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
9,New,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,New,UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1,NaN
11,New,United Kingdom,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,New,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,NaN
13,New,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,New,Total,NaN,NaN,0.0,2.0,5.0,3.0,NaN,NaN,...,NaN,NaN,1.0,6.0,4.0,6.0,NaN,NaN,166,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Oman,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Oman,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,"Oman,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,7,NaN
4,"Oman,",Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
5,"Oman,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
6,"Oman,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Oman,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,19,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Pakistan,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2,NaN
2,"Pakistan,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN
3,"Pakistan,",Bangladesh,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN
4,"Pakistan,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
5,"Pakistan,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
6,"Pakistan,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
7,"Pakistan,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,2,NaN
8,"Pakistan,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
9,"Pakistan,",Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN
10,"Pakistan,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
11,"Pakistan,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
12,"Pakistan,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
13,"Pakistan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Pakistan,",Total,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,3.0,2.0,1.0,NaN,231,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Panama,",Costa Rica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Panama,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,NaN
3,"Panama,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Panama,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,3,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Peru,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
2,"Peru,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
3,"Peru,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
4,"Peru,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Peru,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Philippines,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
2,"Philippines,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Philippines,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Poland,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
2,"Poland,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
3,"Poland,",Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
4,"Poland,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
5,"Poland,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
6,"Poland,",Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
7,"Poland,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
8,"Poland,",Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN
9,"Poland,",Czechoslovakia,NaN,3.0,2.0,2.0,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
10,"Poland,",Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
11,"Poland,",East Germany (GDR),NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN
12,"Poland,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
13,"Poland,",Egypt,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
14,"Poland,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
15,"Poland,",Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,6,NaN
16,"Poland,",India,NaN,NaN,NaN,NaN,NaN,64.0,94.0,23.0,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,960,NaN
17,"Poland,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,19,NaN
18,"Poland,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254,NaN
19,"Poland,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,370,NaN
20,"Poland,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,6,NaN
21,"Poland,",Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
22,"Poland,",Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,3.0,1.0,6.0,NaN,NaN,NaN,27,NaN
23,"Poland,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173,NaN
24,"Poland,",Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
25,"Poland,",Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
26,"Poland,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN
27,"Poland,",Nepal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,11,NaN
28,"Poland,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
29,"Poland,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
30,"Poland,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
31,"Poland,",Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN
32,"Poland,",South Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN
33,"Poland,",Soviet Union,268.0,270.0,270.0,113.0,232.0,228.0,273.0,319.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3812,NaN
34,"Poland,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
35,"Poland,",Syria,NaN,NaN,NaN,43.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,NaN
36,"Poland,",Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
37,"Poland,",Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
38,"Poland,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN
39,"Poland,",Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,4.0,13.0,24,NaN
40,"Poland,",United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,NaN
41,"Poland,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,12.0,NaN,NaN,15,NaN
42,"Poland,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
43,"Poland,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,NaN
44,"Poland,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
45,"Poland,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN
46,"Poland,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"Poland,",Total,268.0,274.0,272.0,158.0,232.0,299.0,406.0,382.0,...,142.0,24.0,3.0,5.0,15.0,22.0,9.0,13.0,6548,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Portugal,",Angola,NaN,NaN,NaN,NaN,1.0,54.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
2,"Portugal,",Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,64,NaN
3,"Portugal,",Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3,NaN
4,"Portugal,",Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
5,"Portugal,",Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
6,"Portugal,",Ecuador,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
7,"Portugal,",Guinea-Bissau,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
8,"Portugal,",Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,NaN
9,"Portugal,",Lebanon,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
10,"Portugal,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
11,"Portugal,",Mozambique,NaN,NaN,NaN,NaN,NaN,28.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,NaN
12,"Portugal,",Pakistan,NaN,NaN,NaN,NaN,NaN,22.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
13,"Portugal,",Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
14,"Portugal,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
15,"Portugal,",Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,172.0,56.0,NaN,NaN,46.0,274,NaN
16,"Portugal,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
17,"Portugal,",Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
18,"Portugal,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,82,NaN
19,"Portugal,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Portugal,",Total,NaN,3.0,NaN,5.0,11.0,105.0,21.0,NaN,...,NaN,18.0,7.0,172.0,56.0,3.0,3.0,46.0,679,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Qatar,",Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
2,"Qatar,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3,NaN
3,"Qatar,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
4,"Qatar,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
5,"Qatar,",NTC (Libya)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
6,"Qatar,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN
7,"Qatar,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,8,NaN
8,"Qatar,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Qatar,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,11.0,NaN,65,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Romania,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
2,"Romania,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,NaN
3,"Romania,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
4,"Romania,",Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
5,"Romania,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
6,"Romania,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
7,"Romania,",Cote d'Ivoire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
8,"Romania,",DR Congo,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
9,"Romania,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
10,"Romania,",Guinea,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
11,"Romania,",Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
12,"Romania,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188,NaN
13,"Romania,",Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,NaN
14,"Romania,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN
15,"Romania,",Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
16,"Romania,",Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN
17,"Romania,",Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
18,"Romania,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,NaN
19,"Romania,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
20,"Romania,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
21,"Romania,",Soviet Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,NaN
22,"Romania,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90,NaN
23,"Romania,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
24,"Romania,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
25,"Romania,",Yugoslavia,NaN,NaN,9.0,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN
26,"Romania,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Romania,",Total,NaN,6.0,9.0,9.0,1.0,NaN,NaN,NaN,...,216.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1180,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Russia,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,203.0,NaN,NaN,NaN,NaN,NaN,NaN,586,NaN
2,"Russia,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,304.0,313.0,549.0,1588.0,1013.0,1140.0,NaN,437.0,12580,NaN
3,"Russia,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,27.0,98.0,63.0,188.0,125.0,NaN,862,NaN
4,"Russia,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
5,"Russia,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,110.0,18.0,NaN,228.0,NaN,832,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,"Russia,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1168,NaN
103,"Russia,",Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,14,NaN
104,"Russia,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
105,"Russia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,"Russia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7919.0,5469.0,5922.0,6790.0,6088.0,6753.0,5226.0,3203.0,148924,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,South,African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,22,NaN
2,South,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,2.0,9.0,9.0,NaN,NaN,NaN,55,NaN
3,South,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.0,4.0,NaN,NaN,NaN,19,NaN
4,South,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
5,South,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,South,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN
68,South,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,8,NaN
69,South,Zimbabwe,NaN,2.0,11.0,0.0,2.0,18.0,16.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
70,South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,South,Total,2.0,4.0,12.0,1.0,2.0,18.0,16.0,0.0,...,102.0,65.0,58.0,81.0,74.0,69.0,142.0,37.0,2459,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Saudi,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5,NaN
2,Saudi,Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,Saudi,Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
4,Saudi,Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
5,Saudi,North Yemen,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
6,Saudi,Oman,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
7,Saudi,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
8,Saudi,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
9,Saudi,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
10,Saudi,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,NaN
11,Saudi,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
12,Saudi,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4,NaN
13,Saudi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Saudi,Total,NaN,NaN,2.0,NaN,NaN,NaN,0.0,13.0,...,NaN,NaN,3.0,5.0,NaN,NaN,NaN,NaN,157,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Senegal,",Gabon,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
2,"Senegal,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Senegal,",Total,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Serbia,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,10.0,9.0,NaN,27.0,NaN,NaN,56,NaN
2,"Serbia,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
3,"Serbia,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,NaN
4,"Serbia,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19.0,19.0,38,NaN
5,"Serbia,",DR Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN
6,"Serbia,",Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
7,"Serbia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
8,"Serbia,",Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,19.0,NaN,NaN,NaN,NaN,NaN,29,NaN
9,"Serbia,",Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,NaN
10,"Serbia,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,5,NaN
11,"Serbia,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
12,"Serbia,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,17.0,2.0,NaN,NaN,NaN,23,NaN
13,"Serbia,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
14,"Serbia,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,14.0,22,NaN
15,"Serbia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Serbia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,10.0,35.0,29.0,2.0,27.0,26.0,33.0,317,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Seychelles,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Seychelles,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Seychelles,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Singapore,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN
2,"Singapore,",Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,NaN
3,"Singapore,",Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,NaN
4,"Singapore,",Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81,NaN
5,"Singapore,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
6,"Singapore,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN
7,"Singapore,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
8,"Singapore,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
9,"Singapore,",Malaysia,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
10,"Singapore,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN
11,"Singapore,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.0,46.0,NaN,NaN,NaN,NaN,107,NaN
12,"Singapore,",Papua New Guinea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
13,"Singapore,",Philippines,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,NaN
14,"Singapore,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,NaN
15,"Singapore,",Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
16,"Singapore,",Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102,NaN
17,"Singapore,",Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149,NaN
18,"Singapore,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3.0,3.0,2.0,NaN,NaN,NaN,NaN,70,NaN
19,"Singapore,",United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN
20,"Singapore,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
21,"Singapore,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Singapore,",Total,NaN,2.0,NaN,NaN,NaN,17.0,NaN,NaN,...,2.0,4.0,49.0,48.0,NaN,NaN,NaN,NaN,942,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Slovakia,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
2,"Slovakia,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
3,"Slovakia,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202,NaN
4,"Slovakia,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,NaN
5,"Slovakia,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN,25,NaN
6,"Slovakia,",Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
7,"Slovakia,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7,NaN
8,"Slovakia,",Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
9,"Slovakia,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
10,"Slovakia,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
11,"Slovakia,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN
12,"Slovakia,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191,NaN
13,"Slovakia,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
14,"Slovakia,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3,NaN
15,"Slovakia,",Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
16,"Slovakia,",Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
17,"Slovakia,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
18,"Slovakia,",Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2,NaN
19,"Slovakia,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,3.0,3.0,NaN,NaN,NaN,NaN,6,NaN
20,"Slovakia,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10,NaN
21,"Slovakia,",Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
22,"Slovakia,",Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
23,"Slovakia,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
24,"Slovakia,",Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142,NaN
25,"Slovakia,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
26,"Slovakia,",United Nations**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN
27,"Slovakia,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
28,"Slovakia,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,5.0,NaN,NaN,NaN,NaN,11,NaN
29,"Slovakia,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
30,"Slovakia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Slovakia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,8.0,3.0,18.0,22.0,12.0,1.0,NaN,832,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Slovenia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN
2,"Slovenia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Slovenia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Spain,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72,NaN
2,"Spain,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
3,"Spain,",Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN
4,"Spain,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,479.0,479.0,NaN,499.0,499.0,NaN,499.0,2944,NaN
5,"Spain,",Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,"Spain,",Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.0,24.0,NaN,NaN,NaN,NaN,NaN,36,NaN
78,"Spain,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
79,"Spain,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,NaN
80,"Spain,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,"Spain,",Total,70.0,140.0,4.0,4.0,84.0,267.0,46.0,25.0,...,733.0,1051.0,1162.0,471.0,820.0,1025.0,989.0,1201.0,17111,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Sri,Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
2,Sri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sri,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Sudan,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,"Sudan,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
3,"Sudan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Sudan,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Sweden,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,103.0,NaN,NaN,NaN,NaN,103,NaN
2,"Sweden,",Argentina,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
3,"Sweden,",Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,NaN,NaN,NaN,NaN,NaN,1591,NaN
4,"Sweden,",Austria,58.0,99.0,75.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,486,NaN
5,"Sweden,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,"Sweden,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN
73,"Sweden,",Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113,NaN
74,"Sweden,",Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
75,"Sweden,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,"Sweden,",Total,251.0,530.0,123.0,15.0,75.0,123.0,70.0,54.0,...,386.0,339.0,179.0,265.0,80.0,155.0,172.0,286.0,14155,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Switzerland,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,17.0,9.0,NaN,NaN,NaN,NaN,NaN,33,NaN
2,"Switzerland,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Switzerland,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN
4,"Switzerland,",Argentina,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,348,NaN
5,"Switzerland,",Australia,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,49.0,74.0,118.0,NaN,352,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,"Switzerland,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,12,NaN
70,"Switzerland,",Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
71,"Switzerland,",Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,40,NaN
72,"Switzerland,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,"Switzerland,",Total,18.0,42.0,34.0,54.0,89.0,395.0,480.0,260.0,...,194.0,343.0,479.0,215.0,173.0,240.0,226.0,179.0,14350,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Syria,",Amal (Lebanon)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN
2,"Syria,",Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Syria,",Egypt,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
4,"Syria,",ELF (Ethiopia)*,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
5,"Syria,",Hezbollah (Lebanon)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,NaN
6,"Syria,",Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224,NaN
7,"Syria,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79,NaN
8,"Syria,",Lebanon Palestinian rebels*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
9,"Syria,",PLO (Israel)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,"Syria,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Syria,",Total,17.0,NaN,NaN,NaN,2.0,2.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,443,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Taiwan,",Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN
2,"Taiwan,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,"Taiwan,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,NaN
4,"Taiwan,",eSwatini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,NaN
5,"Taiwan,",Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
6,"Taiwan,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
7,"Taiwan,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4,NaN
8,"Taiwan,",Panama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
9,"Taiwan,",Paraguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,16,NaN
10,"Taiwan,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
11,"Taiwan,",South Vietnam,NaN,NaN,154.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154,NaN
12,"Taiwan,",Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,NaN
13,"Taiwan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Taiwan,",Total,NaN,NaN,154.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,2.0,2.0,NaN,2.0,2.0,249,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Thailand,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,4,NaN
2,"Thailand,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93,NaN
3,"Thailand,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
4,"Thailand,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Thailand,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,112,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Turkey,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
2,"Turkey,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,17.0,9.0,16.0,4.0,6.0,6.0,7.0,103,NaN
3,"Turkey,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,NaN,NaN,6.0,9.0,4.0,8.0,NaN,71,NaN
4,"Turkey,",Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,3.0,7.0,NaN,NaN,17,NaN
5,"Turkey,",Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,3.0,NaN,9,NaN
6,"Turkey,",Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
7,"Turkey,",Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
8,"Turkey,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN
9,"Turkey,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN
10,"Turkey,",Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,4.0,NaN,5,NaN
11,"Turkey,",Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,NaN
12,"Turkey,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN
13,"Turkey,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
14,"Turkey,",Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
15,"Turkey,",Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
16,"Turkey,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,12,NaN
17,"Turkey,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN
18,"Turkey,",Libya GNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,18,NaN
19,"Turkey,",Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,16.0,18.0,23.0,29.0,21.0,21.0,21.0,261,NaN
20,"Turkey,",Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
21,"Turkey,",Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,3,NaN
22,"Turkey,",Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN
23,"Turkey,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN
24,"Turkey,",North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN
25,"Turkey,",Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,44.0,80.0,77.0,201,NaN
26,"Turkey,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,NaN,24.0,NaN,8.0,104.0,NaN,NaN,259,NaN
27,"Turkey,",Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
28,"Turkey,",Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,22.0,NaN,NaN,5.0,26.0,43.0,26.0,133,NaN
29,"Turkey,",Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,16,NaN
30,"Turkey,",Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,11,NaN
31,"Turkey,",Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,39.0,52.0,39.0,13.0,NaN,NaN,NaN,384,NaN
32,"Turkey,",Senegal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5,NaN
33,"Turkey,",Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
34,"Turkey,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,NaN
35,"Turkey,",Syria rebels*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,2,NaN
36,"Turkey,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,NaN,15.0,15.0,NaN,NaN,NaN,36,NaN
37,"Turkey,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,40.0,91.0,124.0,74.0,NaN,NaN,NaN,409,NaN
38,"Turkey,",UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,20.0,40.0,NaN,NaN,37.0,45.0,NaN,241,NaN
39,"Turkey,",Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6,NaN
40,"Turkey,",Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,8,NaN
41,"Turkey,",Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,5,NaN
42,"Turkey,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Turkey,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156.0,168.0,252.0,236.0,167.0,264.0,240.0,141.0,2481,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"UAE,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,5.0,9.0,9.0,36.0,40.0,NaN,102,NaN
2,"UAE,",Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
3,"UAE,",Bosnia-Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN
4,"UAE,",Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0,NaN
5,"UAE,",Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN
6,"UAE,",Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
7,"UAE,",Egypt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.0,41.0,55.0,42.0,42.0,42.0,42.0,292,NaN
8,"UAE,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN
9,"UAE,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
10,"UAE,",Jordan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.0,NaN,50.0,NaN,1.0,NaN,10.0,126.0,229,NaN
11,"UAE,",Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3,NaN
12,"UAE,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22.0,15.0,NaN,NaN,37,NaN
13,"UAE,",Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,29,NaN
14,"UAE,",Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
15,"UAE,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129,NaN
16,"UAE,",Libya GNC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1,NaN
17,"UAE,",Libya HoR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.0,1.0,13.0,5.0,NaN,21.0,NaN,47,NaN
18,"UAE,",Madagascar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN
19,"UAE,",Mali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,21,NaN
20,"UAE,",Mauritania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,8,NaN
21,"UAE,",Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
22,"UAE,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,5.0,NaN,NaN,1.0,9,NaN
23,"UAE,",Oman,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
24,"UAE,",Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN
25,"UAE,",Seychelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
26,"UAE,",Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,15,NaN
27,"UAE,",South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
28,"UAE,",Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
29,"UAE,",Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
30,"UAE,",Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN
31,"UAE,",Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,NaN
32,"UAE,",Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,8,NaN
33,"UAE,",United Nations**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN
34,"UAE,",Unknown recipient(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,10.0,14.0,14.0,14.0,14.0,NaN,70,NaN
35,"UAE,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19.0,5.0,6.0,9.0,NaN,NaN,39,NaN
36,"UAE,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"UAE,",Total,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,...,106.0,77.0,135.0,102.0,104.0,121.0,135.0,191.0,1261,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Uganda,",South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4,NaN
2,"Uganda,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Uganda,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,United,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
2,United,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,11.0,4.0,...,NaN,NaN,36.0,36.0,NaN,NaN,NaN,NaN,388,NaN
3,United,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,17,NaN
4,United,Argentina,41.0,70.0,NaN,NaN,NaN,20.0,305.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,847,NaN
5,United,Australia,8.0,9.0,7.0,17.0,62.0,50.0,NaN,80.0,...,NaN,17.0,2.0,NaN,NaN,10.0,10.0,NaN,1649,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,United,Yugoslavia,4.0,4.0,4.0,4.0,4.0,4.0,9.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328,NaN
119,United,Zambia,NaN,122.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136,NaN
120,United,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138,NaN
121,United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,United,Total,887.0,2194.0,2464.0,2751.0,2337.0,2424.0,2498.0,2169.0,...,1608.0,1651.0,1180.0,1393.0,1237.0,703.0,907.0,429.0,86350,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Ukraine,",Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN
2,"Ukraine,",Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,413,NaN
3,"Ukraine,",Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175,NaN
4,"Ukraine,",Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
5,"Ukraine,",Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,555,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,"Ukraine,",Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN
78,"Ukraine,",Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN,26,NaN
79,"Ukraine,",Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
80,"Ukraine,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,"Ukraine,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,654.0,632.0,353.0,487.0,307.0,196.0,96.0,115.0,12156,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Uruguay,",Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,"Uruguay,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Uruguay,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,United,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144.0,69.0,94.0,72.0,251.0,320.0,368.0,227.0,3122,NaN
2,United,African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2,NaN
3,United,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,2.0,5.0,NaN,11,NaN
4,United,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,5.0,19.0,NaN,3.0,NaN,NaN,840,NaN
5,United,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,United,Yugoslavia,NaN,NaN,NaN,NaN,NaN,3.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,NaN
169,United,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,6,NaN
170,United,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
171,United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,United,Total,9033.0,11760.0,10841.0,12016.0,12834.0,15731.0,15649.0,14377.0,...,7485.0,9604.0,9937.0,9868.0,12070.0,9895.0,10788.0,9372.0,546009,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Soviet,Afghanistan,9.0,149.0,124.0,NaN,NaN,90.0,230.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10340,NaN
2,Soviet,Algeria,0.0,NaN,180.0,110.0,13.0,56.0,70.0,998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12309,NaN
3,Soviet,ANC (South Africa)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,Soviet,Angola,NaN,NaN,NaN,NaN,NaN,173.0,171.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5984,NaN
5,Soviet,Bangladesh,NaN,NaN,NaN,70.0,42.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Soviet,Zambia,NaN,NaN,NaN,NaN,NaN,48.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,444,NaN
68,Soviet,ZAPU (Zimbabwe)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
69,Soviet,Zimbabwe,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
70,Soviet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Soviet,Total,9782.0,11163.0,13264.0,15493.0,15244.0,11300.0,9547.0,15151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,296962,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Uzbekistan,",China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.0,68.0,NaN,NaN,NaN,NaN,102,NaN
2,"Uzbekistan,",Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
3,"Uzbekistan,",India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1005,NaN
4,"Uzbekistan,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Uzbekistan,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.0,68.0,NaN,NaN,NaN,NaN,1111,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Venezuela,",Bolivia,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
2,"Venezuela,",Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN
3,"Venezuela,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,"Venezuela,",Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
5,"Venezuela,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Venezuela,",Total,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Viet,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN
2,Viet,Laos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN
3,Viet,Viet Cong (South Vietnam)*,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,Viet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Viet,Total,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,South,Laos,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South,Total,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Mujahedin,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,Mujahedin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mujahedin,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,FMLN,Nicaragua,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2,FMLN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FMLN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,Unknown,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
2,Unknown,African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN
3,Unknown,Angola,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,34,NaN
4,Unknown,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
5,Unknown,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Unknown,Zambia,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
105,Unknown,ZAPU (Zimbabwe)*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
106,Unknown,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
107,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Unknown,Total,NaN,3.0,12.0,4.0,7.0,15.0,7.0,1.0,...,10.0,26.0,11.0,5.0,14.0,41.0,6.0,3.0,782,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,North,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
2,North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,North,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,South,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN
2,South,Singapore,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
3,South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,South,Total,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Yugoslavia,",Bangladesh,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN
2,"Yugoslavia,",Cyprus,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN
3,"Yugoslavia,",El Salvador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN
4,"Yugoslavia,",Ethiopia,NaN,NaN,NaN,NaN,NaN,5.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
5,"Yugoslavia,",Guatemala,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN
6,"Yugoslavia,",Honduras,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
7,"Yugoslavia,",Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,NaN
8,"Yugoslavia,",Iraq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117,NaN
9,"Yugoslavia,",Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,502,NaN
10,"Yugoslavia,",Libya,NaN,NaN,NaN,NaN,NaN,NaN,56.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402,NaN
11,"Yugoslavia,",Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
12,"Yugoslavia,",Myanmar,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,NaN
13,"Yugoslavia,",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN
14,"Yugoslavia,",Peru,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN
15,"Yugoslavia,",Zambia,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN
16,"Yugoslavia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Yugoslavia,",Total,3.0,21.0,NaN,35.0,NaN,14.0,65.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1350,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Zambia,",Liberia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
2,"Zambia,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Zambia,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

,exporter,NaN,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,Total,NaN
1,"Zimbabwe,",Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,"Zimbabwe,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Zimbabwe,",Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN